{% extends 'blog/base.html' %}

{% block content %}
<div class="posts-wrapper">
	<section class="mw8 center avenir">
	<h2 class="tc red fw1 ph3 ph0-l">DRAFTS</h2>
    {% for post in posts %}
        <article class="bt bb b--black-10 bg-white mt3 mb3">
			<div class="db pv4 ph3 ph0-l no-underline black dim">
				<div class="flex flex-column flex-row-ns">
					{% if post.image %}
						<div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
					        <img src="{{ post.image.url }}" class="db ml3" alt="Photo">
					    </div>
					{% endif %}
		            	<div class="w-100 w-60-ns pl4-ns pr4">
				          	<a href="{% url 'post_detail' pk=post.pk %}" class="f3 fw1 mt0 lh-title baskerville i no-underline black" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
				          	<p class="p1 f6 f5-l lh-copy"> {{ post.text|linebreaksbr}} </p>
				          	<p class="f6 lh-copy mv0 ">{{ post.published_date|timesince }} ago | By {{post.author}} | {{ post.approved_comments.count }} comments</p>
				        </div>
        	</div>
        </article>
    {% endfor %}
	</section>
</div>
{% endblock %}