 body{
 	background: #040303;
 	color: white;
}

 a, a:hover, a:focus{
   	color: white;
   	text-decoration: none;
}
.top-wrapper {
    background: #222;
    color: #ffffff;
    width: 100%;
    float: left;
    max-height: 78px;
}
.top-right{
    float: right;
    width: 45%;
}
.search-line{
    display: inline-block;
    vertical-align: middle;
}
form{
    margin-block-end: 0;
    font-size: 16px;
}
form input{
    background: #222;
    color: #fff;
    text-shadow: none;
    border-width: 0;
}
form input:focus{
    outline: none;
}
::placeholder {
  color: white;
  text-transform: uppercase;
}
.fa{
    cursor: pointer;
    font-size: 18px;
}
.form-control{
    border-radius: 0;
}
.top-wrapper.searchbox{
    float: right;
    height: auto;
}
#header-image{
    
    display: table;
    height: 350px;
    position: relative;
    width: 100%;
    background-size: cover;
}
.topimage{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn{
	padding: 5px 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
	border: 2px solid white;
	border-radius: 0; 
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	background-color: transparent;
	text-transform: uppercase;
}
.post-header{
  text-align: center;
}
.post-title{
    font-size: 22px;
    line-height: 8px;
    margin: 0 ;
    padding: 0;
    text-transform: uppercase;
}

.thumbnail{
	background: #0A0A0A;
	border: 0px;
	border-radius: 3px;
}

 .navbar{
 	border-radius: 0;
 	padding:.4% 3rem;
    margin-bottom: 4rem;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #18191b;
 }
.navbar-brand{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
    text-transform: none;
}

.post{
	padding-bottom: 20px;
}

.thumbnail .caption{
    padding: 0;
    color: #18191b;
}

@media (max-width: 768px) {
    .navbar {
    padding:1% 2rem;
    }
    
}