 body {
 	background: #040303;
 	color: white;
}

 a, a:hover, a:focus {
   	color: white;
   	text-decoration: none;
}

.btn {
	padding: 5px 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
	border: 2px solid white;
	border-radius: 0; 
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	background-color: transparent;
	text-transform: uppercase;
}
.post-header {
  text-align: center;
}
.post-title {
    font-size: 22px;
    line-height: 8px;
    margin: 0 ;
    padding: 0;
    text-transform: uppercase;
}

.thumbnail, .sidebar {
	background: #0A0A0A;
	border: 0px;
	border-radius: 3px;
}

 .navbar{
 	border-radius: 0;
 	padding:.6% 10rem;
    margin-bottom: 4rem;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #18191b;
 }
.navbar-brand{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
    text-transform: none;
}

.post {
	padding-bottom: 20px;
}

.thumbnail .caption {
    padding: 0;
    color: #18191b;
}

@media (max-width: 768px) {
    .navbar {
    padding:1% 2rem;
    }
    
}